.categoria {
    background: #3dc7be;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.author {
    color: #f75940 !important;
}
.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: transparent !important;
}
.card > a {
    color: #424242;
}
.author {
    color: #2ca02c;
}
.display-4, .lead {
    color: #FFF !important;
}