@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

body, * {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

th {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.fm-3 {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.fm-4 {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.fm-7 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.fm-9 {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}

/* Estilos NavBar */
.icon-social {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.icon-social-twitter {
    color : #03A9F4;
}
.icon-social-google {
    color : #E53935 !important;
}
.icon-social-instagram {
    color : #AB47BC;
}