.page-item {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.page-link {
    padding: 20px;
    color : #3dc7be;
}
.page-item.active .page-link {
    background-color: #3dc7be;
    border-color: #3dc7be;
}